/*------------------------------------*\
    $FORMS.CSS
\*------------------------------------*/

%fade-focus-border{
	@include vendor(transition, border-color .3s);

	border-style:solid;
	border-color:lighten($text-color, 50%);

	&:focus, &:active{ border-color:$text-color; }
}

.form .result{
	@include vendor(transition, opacity .4s linear);
	opacity:0;
	line-height:$base-spacing-unit;

	&.error, &.success{ opacity:1 }
	&.error{ color:$color-negative }
	&.success{ color:$color-success }
}

.text-input{
	@extend %fade-focus-border;
	@include vendor(border-top-left-radius, 2px);
	@include vendor(border-bottom-left-radius, 2px);

	border-width:1px;
}

.signup-widget{
	list-style-type:none;
	margin:0px auto;
	margin-bottom:$base-spacing-unit;
	@include media-query(lap-and-up){ display:table }

	li{
		&:not(:first-child){ margin-top:$base-spacing-unit*2 }
		@include media-query(lap-and-up){
			display:table-cell;
			margin-top:0px;
		}
		vertical-align:top;
	}

	.email{
		font-size:32px;
		width:$base-spacing-unit*14;
		text-align:center;
		padding:$half-spacing-unit/2 2px;
		border-left-width:0px;
		border-right-width:0px;
		border-top-width:0px;
	}

	.submit{
		margin-left:$half-spacing-unit;
		height:40px;
		line-height:40px;
		padding-left:$base-spacing-unit;
		padding-right:$base-spacing-unit;
	}
}